{
  "openapi": "3.1.0",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.traddocs.com"
    }
  ],
  "paths": {
    "/v1/documents/analyze": {
      "post": {
        "description": "Submit a document to this endpoint, which will categorize it into the correct document type. It then returns the document split into its respective type and provides the extracted key-value pairs of essential information for each categorized document.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocumentAnalyze"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentAnalyzeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentAnalyze": {
        "title": "DocumentAnalyze",
        "type": "object",
        "description": "Represents a request for document analysis. The object can contain either a file or a URL pointing to the document to be analyzed. The properties are mutually exclusive, meaning you should provide either a file or a URL, but not both.",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File",
            "description": "A binary file representing the document to be analyzed. This should be provided as a file upload, for example using a multipart/form-data request. The file can be in various formats such as .pdf, .docx, .eml, etc. Example usage: -F 'files=@path/to/your-document.extension'."
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "format": "uri",
            "title": "Url",
            "description": "A URI pointing to the document to be analyzed. This should be used if the document is hosted at a specific URL and can be accessed directly from the web."
          }
        }
      },
      "DocumentAnalyzeResponse": {
        "title": "DocumentAnalyzeResponse",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "split": {
              "type": "object",
              "properties": {
                "document_type": {
                  "type": "string",
                  "description": "The type of document determined by the categorization process."
                },
                "pages": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The pages that have been identified for this document type."
                }
              },
              "description": "Details of how the document has been split into its respective type and the associated pages."
            },
            "extracted": {
              "type": "object",
              "description": "The key-value pairs of essential information extracted from the document."
            }
          },
          "description": "An array of objects representing the split documents and their extracted information."
        },
        "description": "The JSON response format for each document type can be referenced [here](../../../endpoints/document/types/bill-of-lading). By using this endpoint, you can efficiently manage and process multiple documents, obtaining structured and relevant information from them."
      },
      "Error": {
        "required": ["detail"],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
