{
  "openapi": "3.1.0",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.traddocs.com"
    }
  ],
  "paths": {
    "/v1/documents/analyze": {
      "post": {
        "description": "Submit a document to this endpoint, which will categorize it into the correct document type. It then returns the document split into its respective type and provides the extracted key-value pairs of essential information for each categorized document.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocumentAnalyze"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentAnalyzeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentAnalyze": {
        "title": "DocumentAnalyze",
        "type": "object",
        "oneOf": [
          {
            "title": "File",
            "description": "Submit a document file directly for analysis. Provide the file as a binary string.",
            "required": ["file"],
            "not": {
              "required": ["url"]
            },
            "properties": {
              "file": {
                "type": "string",
                "format": "binary",
                "title": "File",
                "description": "The document file to be analyzed, provided as a binary string."
              }
            }
          },
          {
            "title": "Url",
            "description": "Submit a URL pointing to the document to be analyzed. Provide the URL as a valid URI string.",
            "required": ["url"],
            "not": {
              "required": ["file"]
            },
            "properties": {
              "url": {
                "type": "string",
                "minLength": 1,
                "format": "uri",
                "title": "Url",
                "description": "The URL of the document to be analyzed."
              }
            }
          }
        ],
        "description": "Submit either a document file or a URL to the document for analysis. The endpoint will handle the document based on the provided input, either directly from the file or by fetching it from the provided URL."
      },
      "DocumentAnalyzeResponse": {
        "title": "DocumentAnalyzeResponse",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "split": {
              "type": "object",
              "properties": {
                "document_type": {
                  "type": "string",
                  "description": "The type of document determined by the categorization process."
                },
                "pages": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The pages that have been identified for this document type."
                }
              },
              "description": "Details of how the document has been split into its respective type and the associated pages."
            },
            "extracted": {
              "type": "object",
              "description": "The key-value pairs of essential information extracted from the document."
            }
          },
          "description": "An array of objects representing the split documents and their extracted information."
        },
        "description": "The JSON response format for each document type can be referenced [here](../../../endpoints/document/types/bill-of-lading). By using this endpoint, you can efficiently manage and process multiple documents, obtaining structured and relevant information from them."
      },
      "Error": {
        "required": ["detail"],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
