{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.traddocs.com/v1"
    }
  ],
  "paths": {
    "/documents/analyze": {
      "post": {
        "description": "Analyze the document.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocumentAnalyze"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentAnalyze": {
        "oneOf": [
          {
            "title": "File",
            "required": [
              "file"
            ],
            "not": {
              "required": [
                "url"
              ]
            }
          },
          {
            "title": "Url",
            "required": [
              "url"
            ],
            "not": {
              "required": [
                "file"
              ]
            }
          }
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File"
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "format": "uri",
            "title": "Url"
          }
        },
        "type": "object",
        "title": "DocumentAnalyze"
      },
      "DocumentAnalyzeResponse": {
        "items": {
          "type": "object",
          "properties": {
            "split": {
              "type": "object",
              "properties": {
                "document_type": {
                  "type": "string"
                },
                "pages": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            },
            "extracted": {
              "type": "object"
            }
          }
        },
        "type": "array",
        "title": "DocumentAnalyzeResponse"
      },
      "Error": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}